{{#each this}}
    <li class="terminal-item active">
        <div class="item-index" style="color:{{color}}">{{order}}</div>
        <div class="item-container">
            <div class="bar-container">
                <div class="back-bar">
                    <div class="outer-bar" style="width:{{barWidth}}">
                        <div class="real-bar"></div>
                    </div>
                </div>     
                <div class="value">{{value}}</div>       
            </div>

            <div class="item-name" title={{name}}>{{name}}</div>
        </div>
    </li>
{{/each}}